#containerDetail {
    width: 90%;
    height: max-content;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #212529;
    color: white;
}

#containerDetail .image {
    width: 300px;
    height: 420px;
    border-radius: 8px;
    margin-top: 28px;
    margin: 40px 80px 80px 80px;
}

#containerDetail .description-price {
    width: 50%;
    border: white;
}

.container-description {
    width: 80%;
    height: 450px;
    text-align: left;
    margin-left: 48px;
}


.container-description .title {
    margin-top: 28px;
    font-size: 36px;
    font-weight: 600;
}

.container-description .description {
    font-size: 20px;
    font-family: sans-serif;
}
.container-price {
    margin-top: 24px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-price p {
    font-size: large;
    font-weight: bold;
    width: max-content;
    padding-top: 8px;
}